.wrapper {
    width: 600px;
    /* background-image: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);     */
    /* border: .2rem solid black; */
    margin-left: 450px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 14px;
    color: white;
}
/* "background: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);    ;border: white;" */
.btn, .btn-primary{
    /* background-color: black;*/
    background: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);
    border: white;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    color: grey;
    padding-top: 10px;
    text-emphasis-color: black;
}

.title-header {
    border-bottom: .1rem solid black;
}

.form-control{
    color: black;
}

.btn-link {
    float: right;
}