@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font: 14px sans-serif;
    background-color: #d3dbe0;
}

.page-header {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

.wrapper {
    position: relative;
    background-image: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);    
    border: .2rem solid black;
    margin-left: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 14px;
    width: 600px;
}
.modal-content{
    background-image: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);    
      border: .2rem solid black;
  }
  


input[type="text"], input[type="password"] {
    border: 1px solid black;
}

