.wrapper {
    /* background-color: #ffe2e2; */
    border-radius: 6px;
    padding: 0%;
    width: 50%;
    position: relative;
    border: .2rem solid black;
}

.card{
    margin-top: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom right, #be8b9c, #d13f70, #a73259);    
    border-style: none;
    color: white;
    
}

.card-text{
    padding: 4px;
}