.wrapper {
    /* background-color: #ffe2e2; */
    border-radius: 6px;
    padding: 0%;
    width: 50%;
    position: relative;
    border: .2rem solid black;
}

.card{
    margin-top: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, #861F41, #e06890);
    border-style: none;
    
}

.card-text{
    padding: 4px;
}